@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
#app{
  max-width: 1144px;
}
header,
main,
footer{
  margin: 0 10px;
}
a{
  text-decoration: none;
}
/* The footer section */
footer{
  text-align: center;
  padding-bottom: 227px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
 nav{
  width: 1144px;
 }
}
